body  {
    background-image: url("/img/free-coffee-images-unsplash.jpg");
    background-color: #cccccc;
  }
  .main {
    position: absolute;
    height: 200px;   
    left: 25%; 
    top: 6%;
    background-color: #632b06;
    border-radius: 5px;
    box-shadow: white 0px 7px 7px 0px;
    background-image: url(https://images.unsplash.com/photo-1495474472287-4d71bcdd2085?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
    width: 50%;  
    height: auto;
  }
   
  .content {
    margin: auto;
    width: 8%;
    border-radius: 15px;
    border: 3px solid white; 
    background-image: url(https://images.unsplash.com/photo-1576836165612-8bc9b07e7778?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80); 
    padding: 20px;
    width: 150px;
    height: 100px;
    z-index: 0;
    position: relative;
    top: -45px;       
  }

  .con{
  
    text-align: center;
    margin: auto;
    width: 8%;
    margin-top: 10%;
    border-radius: 15px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: white;
    padding: 10px;
    width: 35%;
    height: auto;
    position: relative;
    z-index: 1;
    top: -130px;   
  }
  .cos{
  
    text-align: center;
    margin: auto;
    width: 8%;

    border-radius: 15px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: white;
    padding: 10px;
    width: 35%;
    height: auto;
    position: relative;
    z-index: 1;
    top: -203px;   
  }
  .co{
  
    text-align: center;
    margin: auto;
    width: 8%;
    margin-top: 10%;
    border-radius: 15px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: white;
    padding: 10px;
    width: 35%;
    height: auto;
    position: relative;
    z-index: 1;
    top: -210px;   
  }

  .c{
  
    text-align: left;
    margin: auto;
    width: 8%;
    top: -220px;      
    border-radius: 15px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: white;
    padding: 3px;
    width: 90%;
    padding-left: 30px;
    height: auto;
    position: relative;
    padding-top: 15px;
    padding-bottom: 15px;
    
    
  }
  .s{
  
    text-align: left;
    margin: auto;
    width: 8%;
    top: -160px;      
    border-radius: 15px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: white;
    padding: 3px;
    width: 90%;
    padding-left: 30px;
    height: auto;
    position: relative;
    
  }


